page-acerca-de {
    .toolbar-background {
        background-image: url('../assets/imgs/hablame-16.png')!important;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .bg-image {
        background-image: url('../assets/imgs/hablame-02.png') !important;
        background-repeat: no-repeat !important;
        background-position: left !important;
        background-size: 100% 100% !important;
    }

    .p-bg-img{
        background-color: #F6F6F6;
        border-top: 1rem solid #30B4DA;
        border-bottom: 2rem solid #30B4DA;
        border-left: 0.2rem dashed #C1C1C1;
        border-right: 0.2rem dashed #C1C1C1
    }

    .container {
        padding-left: 2rem;
        padding-right: 2rem;
       
        p{
            margin:0px;
        }
    }
        
    .bar-button-menutoggle-md ion-icon {
        margin-top: -6rem !important;
    }
    
    .bar-button-menutoggle-ios ion-icon {
        transform: translateY(-2rem) !important;
    }
}
