page-hijo {
    .toolbar-background {
        background-image: url('../assets/imgs/hablame-14.png')!important;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hr-cust{
        background-color: #000;
    }

    .h3-tit{
        font-size: 1.8rem;
        text-align: center;
    }

    .h4-num{
        font-size: 1.8rem;
        font-weight: 400;
        color: #9BD8E6;
        text-align: center;
    }

    .bg-image {
        background-image: url('../assets/imgs/hablame-02.png') !important;
        background-repeat: no-repeat !important;
        background-position: left !important;
        background-size: 100% 100% !important;
    }

    .h4-bg-img{
        background-image: url('../assets/imgs/hablame-10.png')!important;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .h4-br{
        font-size: 1.8rem;
        font-weight: 400;
        padding-left: 2rem;
        padding-top: 1rem;
    }
    
    .bar-button-menutoggle-md ion-icon {
        margin-top: -6rem !important;
    }

    .bar-button-menutoggle-ios ion-icon {
        transform: translateY(-2rem) !important;
    }
}
